.react-calendar-timeline * {
	box-sizing: border-box;
}

.react-calendar-timeline .rct-outer {
	display: block;
	overflow: hidden;
	white-space: nowrap;
}

.react-calendar-timeline .rct-scroll {
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	overflow-x: scroll;
	overflow-y: hidden;
	-ms-touch-action: none;
	touch-action: none;
}

.react-calendar-timeline .rct-canvas {
	position: relative;
}

.react-calendar-timeline .rct-item {
	position: absolute;
	box-sizing: border-box;
	font-size: 12px;
	color: white;
	cursor: pointer;
	z-index: 80;
	min-width: 18px;
}

.react-calendar-timeline .rct-item.selected.can-move {
	cursor: move;
}

.react-calendar-timeline .rct-item.selected.can-resize-left {
	border-left-width: 3px;
}

.react-calendar-timeline .rct-item.selected.can-resize-left .rct-drag-left {
	cursor: w-resize;
}

.react-calendar-timeline .rct-item.selected.can-resize-right {
	border-right-width: 3px;
}

.react-calendar-timeline .rct-item.selected.can-resize-right .rct-drag-right {
	cursor: e-resize;
}

.react-calendar-timeline .rct-item .rct-drag-left {
	position: absolute;
	width: 24px;
	max-width: 20%;
	min-width: 2px;
	height: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	z-index: 88;
}

.react-calendar-timeline .rct-item .rct-drag-right {
	position: absolute;
	width: 24px;
	max-width: 20%;
	min-width: 2px;
	height: 100%;
	top: 0;
	right: 0;
	cursor: pointer;
	z-index: 88;
}

.react-calendar-timeline .rct-item:hover {
	z-index: 88;
}

.react-calendar-timeline .rct-item .rct-item-content {
	width: 100%;
	position: sticky;
	position: -webkit-sticky;
	left: 0px;
	overflow: hidden;
	display: inline-block;
	left: 0;
	height: 100%;
}

.rct-sidebar-row .wrm-sidebar-item {
	background: #7855cb;
}
.rct-sidebar-row .wrm-sidebar-item .wrm-project-title {
	color: #ffffff;
	font-weight: bold;
	padding: 6px;
}

.rct-item .wrm-timeline-item {
	background: #7855cb;
	border: 1px solid #543b8e;
	border-left-width: 2px;
	border-right-width: 2px;
	color: #ffffff;
}

.rct-item .wrm-timeline-item {
	height: 100%;
	display: block;
	border-radius: 6px;
	padding: 6px;
}

.rct-sidebar-row .wrm-sidebar-item.project-1,
.rct-sidebar-row .wrm-sidebar-item.project-6,
.rct-sidebar-row .wrm-sidebar-item.project-11,
.rct-sidebar-row .wrm-sidebar-item.project-6 {
	background: #0BA897;
}
.rct-item .wrm-timeline-item.group-1,
.rct-item .wrm-timeline-item.group-6,
.rct-item .wrm-timeline-item.group-11,
.rct-item .wrm-timeline-item.group-16 {
	 background: #0BA897;
	 border-color: #08766a;
 }

.rct-sidebar-row .wrm-sidebar-item.project-2,
.rct-sidebar-row .wrm-sidebar-item.project-7,
.rct-sidebar-row .wrm-sidebar-item.project-12,
.rct-sidebar-row .wrm-sidebar-item.project-17 {
	background: #F0693C;
}
.rct-item .wrm-timeline-item.group-2,
.rct-item .wrm-timeline-item.group-7,
.rct-item .wrm-timeline-item.group-12,
.rct-item .wrm-timeline-item.group-17 {
	background: #F0693C;
	border-color: #a64929;
}

.rct-sidebar-row .wrm-sidebar-item.project-3,
.rct-sidebar-row .wrm-sidebar-item.project-8,
.rct-sidebar-row .wrm-sidebar-item.project-13,
.rct-sidebar-row .wrm-sidebar-item.project-18 {
	background: #69A952;
}
.rct-item .wrm-timeline-item.group-3,
.rct-item .wrm-timeline-item.group-8,
.rct-item .wrm-timeline-item.group-13,
.rct-item .wrm-timeline-item.group-18 {
	background: #69A952;
	border-color: #538541;
}

.rct-sidebar-row .wrm-sidebar-item.project-4,
.rct-sidebar-row .wrm-sidebar-item.project-9,
.rct-sidebar-row .wrm-sidebar-item.project-14,
.rct-sidebar-row .wrm-sidebar-item.project-19 {
	background: #D93075;
}
.rct-item .wrm-timeline-item.group-4,
.rct-item .wrm-timeline-item.group-9,
.rct-item .wrm-timeline-item.group-14,
.rct-item .wrm-timeline-item.group-19 {
	 background: #D93075;
	 border-color: #7c1b43;
 }

.rct-item.selected .wrm-timeline-item {
	background: #f9cd2d;
	border-color: #93791b;
	color: #333333;
	z-index: 82;
}

.wrm-timeline-item .wrm-item-content {
	position: relative;
}

.wrm-timeline-item .wrm-item-content .wrm-item-title {
	position: absolute;
	top: 0;
	left: 0;
	line-height: 1.4em;
}

.wrm-timeline-item .wrm-item-content.item-small {
	font-size: 10px;
	line-height: 11px;
}

.wrm-timeline-item .wrm-item-content.item-large {

}

.wrm-percent-complete {
	display: block;
	height: 100%;
	background: rgba(0,0,0,.2);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 6px;
}

.react-calendar-timeline .rct-header-container {
	z-index: 90;
	display: flex;
}

.react-calendar-timeline .rct-header-container.header-sticky {
	position: sticky;
	position: -webkit-sticky;
}

.react-calendar-timeline .rct-header {
	margin: 0;
	overflow-x: hidden;
	z-index: 90;
}

.react-calendar-timeline .rct-header .top-header,
.react-calendar-timeline .rct-header .bottom-header {
	position: relative;
}

.react-calendar-timeline .rct-header .rct-label-group {
	padding: 0 5px;
	position: absolute;
	top: 0;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	border-left: 2px solid #bbbbbb;
	color: #ffffff;
	background: #1c5673;
	border-bottom: 1px solid #bbbbbb;
	cursor: pointer;
}

.react-calendar-timeline .rct-header .rct-label-group.rct-has-right-sidebar {
	border-right: 1px solid #bbbbbb;
	border-left: 1px solid #bbbbbb;
}

.react-calendar-timeline .rct-header .rct-label-group > span {
	position: sticky;
	left: 5px;
	right: 5px;
}

.react-calendar-timeline .rct-header .rct-label {
	position: absolute;
	text-align: center;
	cursor: pointer;
	border-left: 1px solid #bbbbbb;
	color: #333333;
	background: #f0f0f0;
	border-bottom: 1px solid #bbbbbb;
	cursor: pointer;
}

.react-calendar-timeline .rct-header .rct-label.rct-label-only {
	color: #ffffff;
	background: #1c5673;
}

.react-calendar-timeline .rct-header .rct-label.rct-first-of-type {
	border-left: 2px solid #bbbbbb;
}

.react-calendar-timeline .rct-sidebar-header {
	margin: 0;
	color: #ffffff;
	background: #1c5673;
	border-right: 1px solid #bbbbbb;
	box-sizing: border-box;
	border-bottom: 1px solid #bbbbbb;
	overflow: hidden;
}

.react-calendar-timeline .rct-sidebar-header.rct-sidebar-right {
	border-right: 0;
	border-left: 1px solid #bbbbbb;
}

.react-calendar-timeline .rct-sidebar {
	overflow: hidden;
	white-space: normal;
	display: inline-block;
	vertical-align: top;
	position: relative;
	box-sizing: border-box;
	border-right: 1px solid #bbbbbb;
}

.react-calendar-timeline .rct-sidebar.rct-sidebar-right {
	border-right: 0;
	border-left: 1px solid #bbbbbb;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	box-sizing: content-box;
	margin: 0;
	border-bottom: 1px solid #bbbbbb;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row rct-sidebar-row-odd {
	background: rgba(0, 0, 0, 0.05);
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row rct-sidebar-row-even {
	background: transparent;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl {
	position: absolute;
	border-left: 1px solid #bbbbbb;
	z-index: 30;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-vl-first {
	border-left-width: 2px;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-6, .react-calendar-timeline .rct-vertical-lines .rct-vl.rct-day-0 {
	background: rgba(250, 246, 225, 0.5);
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-even,
.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
	border-bottom: 1px solid #bbbbbb;
	box-sizing: content-box;
	z-index: 40;
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
	background: rgba(0, 0, 0, 0.05);
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-even {
	background: transparent;
}

.react-calendar-timeline .rct-today {
	position: absolute;
	width: 2px;
	background: #ff8c1f;
	z-index: 50;
}

.react-calendar-timeline .rct-cursor-line {
	position: absolute;
	width: 2px;
	background: #2196f3;
	z-index: 51;
}

.react-calendar-timeline .rct-infolabel {
	position: fixed;
	left: 100px;
	bottom: 50px;
	background: rgba(0, 0, 0, 0.5);
	color: #ffffff;
	padding: 10px;
	font-size: 20px;
	border-radius: 5px;
	z-index: 85;
}
